<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hotel.mapper.HotelOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.manage.hotel.entity.HotelOrderEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="cardId" property="cardid" />
        <result column="tab_id" property="tabId" />
        <result column="room_id" property="roomId" />
        <result column="order_type" property="orderType" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="depart_time" property="departTime" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, status, cardId, tab_id, room_id, order_type, subscribe_time, depart_time, create_time
    </sql>

</mapper>
